# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/

# Vite build output
dist/
dist-ssr/

# Environment variables
.env
.env.*
*.local

# IDE and editor configs
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store

# VS / JetBrains related
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing and coverage
coverage/

# Parcel
.parcel-cache/

# Optional: TypeScript cache
*.tsbuildinfo

# Optional: Mac/Linux system files
Thumbs.db
